extends ../includes/_page
block body
    include ../layouts/_header
    include ../layouts/_promo
    include ../layouts/_tools
    include ../layouts/_strategies
    include ../layouts/_about-us
    include ../layouts/_contact
    include ../layouts/_footer
