section.contact
  .container-lg
    h2 Contact Us
    .layout-2-columns
      .contact-us__content
        p Your About Us page is vital. It’s often the first stop in any user’s journey through a website or blog. It also shouldn’t be their last, because first impressions count online just as much as they do in the real world. If your visitors aren’t impressed, you can expect them to leave without reading your awesome content or completing a conversion action (e.g., signing up for your newsletter, making a purchase).
        p
          span.icon.icon--phone
          a(href="tel:+375 (22) 345-00-99")
            | +375 (22) 345-00-99
        p
          span.icon--icon--email
          a(href="mailto:emailname@gmail.com") emailname@gmail.com
    .layout-2-columns
      form.contact-form(action="#")
        .layout-3-columns
          input(type="text" name="name" placeholder="Your name")
          input(type="email" name="email" placeholder="Your email")
        textarea(name="quiestion" cols="30" rows="30")
        .contact-us__button
          button.button.button--colored(type="submit") Send
