footer.footer
  .container-lg
    a.footer__logo(href="/") Logo
    .layout-4-column
      .footer-navigation
        h4 Quick links
        ul.footer-navigation__links
          li
            a.footer-navigation__link(href="#") About Us
          li
            a.footer-navigation__link(href="#") Blog
          li
            a.footer-navigation__link(href="#") Contact
          li
            a.footer-navigation__link(href="#") FAQ
        ul.footer-navigation__links
          li
            a.footer-navigation__link(href="#") About Us
          li
            a.footer-navigation__link(href="#") Blog
          li
            a.footer-navigation__link(href="#") Contact
          li
            a.footer-navigation__link(href="#") FAQ
        ul.footer-navigation__links
          li
            a.footer-navigation__link(href="#") About Us
          li
            a.footer-navigation__link(href="#") Blog
          li
            a.footer-navigation__link(href="#") Contact
          li
            a.footer-navigation__link(href="#") FAQ
