header.header
  .container-lg
    a.logo.header__logo(href="#")
    nav.header__navigation
      ul.navigation
        li.navigation__item
          a.navigation__link(href="index.html") Home
        li.navigation__item
          a.navigation__link(href="") Services
        li.navigation__item
          a.navigation__link(href="") About
        li.navigation__item
          a.navigation__link(href="") Product

    .header__buttons
      a.button.button--bordered(href="#") Sign In
      a.button.button--colored(href="#") Sign Up
