section.promo
  .promo__wrapper
    .promo__content
      h1.title.title--header.promo__title  The Design Thinking superpowers
      p.promo__text   Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
      .promo__buttons
        a.button.button--colored Get Started
        a.link.link--colored(href="#")
          span.link__icon.icon.icon__play
          span.link__text Watch the video
    .promo__picture
